@mixin _1300 {
    @media (max-width: 1300px) {
        @content;
    }
}

@mixin _1170 {
    @media (max-width: 1170px) {
        @content;
    }
}

@mixin _979 {
    @media (max-width: 979px) {
        @content;
    }
}

@mixin _900 {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin _600 {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin _420 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin _380 {
    @media (max-width: 350px) {
        @content;
    }
}

@mixin _350 {
    @media (max-width: 350px) {
        @content;
    }
}

/* general styles
   ========================================================================== */

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.aside_wrapper {
    margin-bottom: 40px;
}

.front_content_wrapper {
    margin-bottom: 55px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-column-gap: 22px;
    grid-row-gap: 55px;
    grid-template-areas:
        "post-1 post-1"
        "post-2 post-3"
        "post-4 post-4"
        "post-5 post-6"
        "post-7 post-8"
        "post-9 post-9"
        "post-10 post-11"
        "post-12 post-12";

    @include _768() {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, auto);
        grid-column-gap: 22px;
        grid-row-gap: 55px;
        grid-template-areas:
            "post-1"
            "post-2"
            "post-3"
            "post-4"
            "post-5"
            "post-6"
            "post-7"
            "post-8"
            "post-9"
            "post-10"
            "post-11"
            "post-12";
    }

}

.grid-item1 {
    grid-area: post-1;
}

.grid-item2 {
    grid-area: post-2;
}

.grid-item3 {
    grid-area: post-3;
}

.grid-item4 {
    grid-area: post-4;
}

.grid-item5 {
    grid-area: post-5;
}

.grid-item6 {
    grid-area: post-6;
}

.grid-item7 {
    grid-area: post-7;
}

.grid-item8 {
    grid-area: post-8;
}

.grid-item9 {
    grid-area: post-9;
}

.grid-item10 {
    grid-area: post-10;
}

.grid-item11 {
    grid-area: post-11;
}

.grid-item12 {
    grid-area: post-12;
}


.grid1 {
    grid-area: post-1;
}

.grid2 {
    grid-area: post-2;
}

.grid3 {
    grid-area: post-3;
}

.grid4 {
    grid-area: post-4;
}

.grid5 {
    grid-area: post-5;
}


.button_text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.front-head {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 29.649px;
    font-style: normal;
    font-weight: 700;
    line-height: 51.392px;
}

.button {
    padding: 23px 50px 28px 50px;
    background-color: #0336FF;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;

    &:hover {
        background-color: #0327b6;
        transition: all 0.2s ease-in-out;
    }

    @include _768() {
        padding: 15px 30px;
    }
}

.image-cov {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    box-shadow: 30px 0 30px rgba(0, 0, 0, 0.1), -30px 0 30px rgba(0, 0, 0, 0.1);
}

.front-card {
    padding: 20px 40px;
    min-height: 570px;
}

.twitter-color {
    background-color: #60B7FE !important;
}

.youtube-color {
    background-color: #FE2C3C !important;
}

.inst-color {
    background-color: #E14D93 !important;
}

.travel-head {
    width: 40% !important;
    background-image: none !important;

    @include _768() {
        width: 100% !important;
    }

}

.travel-to-go {
    align-items: flex-start !important;
}

.travel-text {
    width: 55% !important;
    margin-top: 70px;

    @include _768() {
        width: 100% !important;
    }
}

.travel-text span {
    color: #FFA500;
}

.form-input {
    outline: none;
    border: none;
    cursor: pointer;
}

/* Shutter In Vertical */
.hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #0327b6;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1e1e1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
    color: white;
}

.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

/* header styles
   ========================================================================== */
/* header styles */
header {
    .header_background {
        background: url('../image/main-header-beackground.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 17px;
        z-index: 1;



        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            z-index: -1;
        }
    }

    .destination-header-background {
        background: url('../image/destination-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding-top: 17px;
        padding-bottom: 200px;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            z-index: -1;
        }
    }

    .travel-header-background {
        background: url('../image/travel-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding-top: 17px;
        padding-bottom: 200px;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            z-index: -1;
        }
    }

    font-size: 14px;
}

.header_container {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1440px;
    margin: 0 auto;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header__logo {
        position: relative;
        z-index: 5;

        @include _979() {
            width: 14%;
            height: auto;
        }


    }

    .header__menu {
        ul {
            list-style-type: none;
            display: flex;

            @include _900() {
                flex-direction: column;
                align-items: center;
            }

            li {

                a {
                    color: #FFA500;
                    font-family: Roboto, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px;
                    padding: 8px 30px;

                    &:hover {
                        background-color: #0336FF;
                        color: #FFF;
                        transition: all 0.2s ease-in-out;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h3 {
        color: #FFF;
        font-family: Lato, sans-serif;
        font-size: 2.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include _768() {
            font-size: 3vw;
        }

        span {
            color: #FFA500;
        }
    }

    h1 {
        width: 60%;
        color: #FFF;
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: 4.5vw;
        font-style: normal;
        font-weight: 800;
        line-height: 89px;

        @include _768() {
            line-height: 40px;
            font-size: 5.5vw;
        }
    }

    .header_content__button {
        margin-top: 40px;

        a {
            color: #FFF;
            text-align: center;
            font-family: Lato, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 25px 50px;
            border-radius: 8px;
            background: #0336FF;

            &:hover {
                background-color: #0327b6;
                transition: all 0.2s ease-in-out;
            }

            @include _768() {
                padding: 15px 30px;
            }
        }
    }
}

.header_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 10px;

    div {
        color: #FFF;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 47.175px;
    }
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__link {
    color: black;

    text-decoration: none;
}

.header__burger {
    display: none;
}

@media(max-width: 900px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
    }

    .header__burger span {
        content: '';
        background-color: #FFA500;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease-in-out;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #FFA500;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        width: 100%;
        height: 100%;
        top: -140%;
        left: 0;
        position: fixed;
        background-color: #333333;
        padding-top: 70px;
        overflow: auto;
    }

    .header__menu.active {
        top: 0;
        transition: all 0.3s ease-in-out;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        margin: 0px 0px 20px 0px;
    }
}

/* footer styles
   ========================================================================== */
// footer styles
.footer_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    min-height: 100px;
    border-top: 1px solid #C4C4C4;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;

    @include _768() {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


    .footer_menu__nav {
        ul {
            display: flex;
            list-style-type: none;

            @include _768() {
                flex-direction: column;
                text-align: center;
            }

            li {
                margin-right: 120px;

                @include _768() {
                    margin-bottom: 15px;
                }

                a {
                    color: #000;

                    &:hover {
                        color: #FFA500;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}

.footer_background {
    background: rgba(0, 0, 0, 0.68);
}

.footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #EEE;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    @include _768() {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer_content_first {
        width: 38%;
    }

    div {
        width: 18%;

        @include _768() {
            width: 100%;
        }
    }
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EEE;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    min-height: 100px;
    border-top: 1px solid #EEEEEE;

    div {
        @include _1170() {
            margin-bottom: 15px;
        }
    }

    @include _1170() {
        flex-direction: column;
        text-align: center;
    }
}

/* front content styles
   ========================================================================== */
// front content styles
.front {
    display: flex;
    justify-content: space-between;

    @include _979() {
        flex-direction: column-reverse;

    }

    .front_aside {
        width: 32%;
        text-align: center;
        font-family: Lato, sans-serif;
        color: #000;

        @include _979() {
            width: 100%;
        }

        .front_aside_about__head {
            text-align: center;
        }

        .front_aside_about__text {
            text-align: left;
            font-size: 16.375px;
            font-style: normal;
            font-weight: 500;
            line-height: 20.637px;
        }

        .front_aside_about__button {
            margin-top: 45px;
            margin-bottom: 20px;
        }

        .front_aside_categories {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;

            .front_aside_categories_content {
                margin-top: 68px;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                }
            }
        }

        .front_aside_posts__heading {
            min-height: 0;
        }

        .front_aside_slider {
            .front_aside_slider_block {
                position: relative;
                z-index: 5;

                .front_aside_slider_block__date {
                    color: #FFF;
                    font-size: 1.4vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 33.814px;
                    width: 90%;
                    position: absolute;
                    left: 5%;
                    top: 7%;

                    @include _979() {
                        font-size: 2.5vw;
                    }
                }

                .front_aside_slider_block__name {
                    color: #FFFEFE;
                    font-size: 1.7vw;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 46.983px;
                    width: 90%;
                    position: absolute;
                    left: 5%;
                    top: 30%;

                    @include _979() {
                        font-size: 3vw;
                    }
                }



            }
        }

        .front_aside_recent {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: left;

            img {
                width: 100px;
                height: 80px;
                margin-right: 5px;
            }

            .front_aside_recent_content {

                .front_aside_recent_content__date {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 33.814px;
                }

                .front_aside_recent_content__text {
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                }
            }
        }

        .front_aside_social {
            display: flex;
            justify-content: space-between;
            margin: 0px 25px 25px;

            @include _979() {
                justify-content: space-around;
            }

            @include _480() {
                flex-direction: column;
                align-items: center;
            }

            .front_aside_social_link {
                display: flex;
                justify-content: space-around;
                min-width: 130px;
                background-color: #0336FF;
                padding: 15px 20px;
                border-radius: 8px;

                @include _1300() {
                    min-width: 90px;
                }

                @include _979() {
                    min-width: 130px;
                }

                @include _480() {
                    margin-bottom: 15px;
                }

            }

            .front_aside_social_link__text {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
            }
        }
    }

    .front_content {
        width: 65%;
        color: #000;
        font-family: Lato, sans-serif;

        @include _979() {
            width: 100%;
        }

        .front-card__image-bottom {
            padding: 0px 15px;

            .front-card__date {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 33.814px;
                margin-bottom: 20px;
            }

            .front-card__head {
                font-size: 31.637px;
                font-style: normal;
                font-weight: 600;
                line-height: 46.983px;
                margin-bottom: 20px;
            }

            .front-card__text {
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }
        }

        .front-card_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-items: center;
            padding: 0px 15px;
            margin-top: 35px;
            padding-bottom: 15px;

            .front-card_bottom_place {
                display: flex;

                .front-card_bottom_place__text {
                    margin-left: 10px;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                }
            }
        }

        .front_content_banner {
            position: relative;

            .front_content_banner__text {
                position: absolute;
                top: 5%;
                left: 2%;
                width: 95%;
                color: #FFF;
                font-size: 2.3vw;
                font-style: normal;
                font-weight: 700;
                line-height: 3vw;

                span {
                    color: #FFA500;
                    text-decoration-line: underline;
                }
            }

            .front_content_banner__button {
                position: absolute;
                top: 75%;
                left: 40%;

                @include _600() {
                    left: 37%;
                }

                @include _420() {
                    left: 34%;
                }

                @include _380() {
                    left: 30%;
                }
            }
        }
    }
}


//slider arrow styles
.slick-arrow {
    position: absolute;
    top: 70%;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #0327b6;
    font-size: 22px;
    z-index: 2;
}

.slick-prev {
    left: 5%;
    padding: 5px 10px;
}

.slick-next {
    right: 73%;
    padding: 5px 10px;
}

/* instagram styles
   ========================================================================== */
.instagram {
    position: relative;
    margin-top: 130px;

    .instagram_slider {
        display: flex;
        overflow: hidden;

        img {
            flex-shrink: 0;
            object-fit: none;
            object-position: center;
            margin: 0;
        }
    }

    .instagram__button {
        position: absolute;
        top: 50%;
        left: 40%;

        @include _600() {
            left: 35%;
        }

        @include _420() {
            left: 30%;
        }

        @include _380() {
            left: 25%;
        }
    }
}

/* email styles
   ========================================================================== */
.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;

    @include _1170() {
        flex-direction: column;
        text-align: center;
    }

    .email__head {
        width: 48%;
        color: #000;
        font-family: Lato, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include _768() {
            width: 100%;
        }

        span {
            color: #0327b6;
        }
    }

    .email__form {
        width: 48%;

        @include _1170() {
            width: 100%;
            margin-top: 30px;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;

            @include _600() {
                flex-direction: column;
                text-align: center;
            }
        }

        #email {

            padding: 23px 50px 28px 50px;
            border: 1px solid #C4C4C4;
            background: #FFF;
            color: #C4C4C4;
            text-align: center;
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 8px;
            margin-right: 20px;

            @include _600() {
                margin-bottom: 20px;
            }
        }
    }
}

/* to go section styles
   ========================================================================== */
.to_go {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: Lato, sans-serif;
    margin-bottom: 140px;

    @include _768() {
        flex-direction: column;
        text-align: center;
    }

    .to_go__head {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 47%;
        padding: 18px 0px;
        background-image: url('../image/Ellipse\ 18.png');
        background-size: 20px 15px;
        background-repeat: repeat;

        @include _768() {
            width: 100%;
        }

        @include _420() {
            font-size: 40px;
        }

        span {
            color: #FFA500;
            text-decoration-line: underline;
        }
    }

    .to_go__text {
        text-align: justify;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.36px;
        width: 37%;

        @include _768() {
            width: 100%;
        }
    }
}

.destination_content {
    font-family: Lato, sans-serif;

    .destination_content_head {
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        @include _1170() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include _768() {
            grid-template-columns: repeat(2, 1fr);
        }

        a {
            padding: 15px 5px;
            border: 2px solid #C4C4C4;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #000;

            &:hover {
                background-color: #0327b6;
                color: #FFF;
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .destination_content_grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .destination_content_card {
            position: relative;
            width: 32%;
            margin-bottom: 300px;



            @include _1300() {
                margin-bottom: 350px;
            }

            @include _1170() {
                width: 48%;
            }

            @include _768() {
                width: 100%;
                margin-bottom: 260px;
            }

            @include _600() {
                margin-bottom: 280px;
            }

            @include _420() {
                margin-bottom: 350px;
            }


            .destination_content_card__image {
                z-index: 3;
            }

            .destination_content_card_info {
                background-color: #FFF;
                padding: 0px 15px;
                min-height: 350px;
                margin-right: 30px;
                position: absolute;
                top: 80%;
                z-index: 1;
                width: 90%;
                box-shadow: 0px 4.10465px 10.26163px 0px rgba(0, 0, 0, 0.25);

                @include _420() {
                    width: 80%;
                }

                .destination_content_card_info__date {
                    color: #FFA500;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    width: 80%;
                    padding-top: 45px;
                    margin-bottom: 10px;
                }

                .destination_content_card_info__name {
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    width: 65%;
                    height: 100px;
                }

                .destination_content_card_info__line {
                    border-bottom: 1px solid #C4C4C4;
                    margin-top: 50px;
                }

                .destination_content_card_info_bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-items: center;
                    margin-top: 70px;
                    padding-bottom: 15px;

                    .destination_content_card_info_bottom_place {
                        display: flex;
                    }

                    .destination_content_card_info_bottom_place__text {
                        margin-left: 10px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }
        }
    }

}

/* travel posts section styles
   ========================================================================== */
.travel_posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Lato sans-serif;
    margin-top: -50px;

    .travel_posts_card {
        width: 30%;
        margin-bottom: 40px;
        box-shadow: 0px 2.76726px 6.22633px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 14.96273px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 28.17349px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 50.25669px 0px rgba(0, 0, 0, 0.04), 0px 41.77761px 93.99962px 0px rgba(0, 0, 0, 0.05), 0px 100px 225px 0px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
        // min-height: 400px;

        @include _1170() {
            width: 47%;
        }

        @include _768() {
            width: 100%;
        }

        img {
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }


        .travel_posts_card__date {
            color: var(--Grey-4, #6E7191);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.27px;
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 0px 10px;
        }

        .travel_posts_card__title {
            color: #FFF;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            background-color: #0327b6;
            padding-bottom: 40px;
            margin-bottom: 30px;
            min-height: 100px;
            padding-top: 9px;
            padding: 0px 10px;
        }

        .travel_posts_card_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 5px;
            margin-bottom: 10px;
            // margin-top: 50px;

            .travel_posts_card_bottom_block {
                display: flex;
                align-items: center;
                color: var(--Black, #14142B);
                font-size: 14px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;

            }
        }
    }
}