/* general styles
   ========================================================================== */
a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

.container {
  padding-left: 2%;
  padding-right: 2%;
  max-width: 1400px;
  margin: 0 auto; }

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px; }

.aside_wrapper {
  margin-bottom: 40px; }

.front_content_wrapper {
  margin-bottom: 55px; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-column-gap: 22px;
  grid-row-gap: 55px;
  grid-template-areas: "post-1 post-1" "post-2 post-3" "post-4 post-4" "post-5 post-6" "post-7 post-8" "post-9 post-9" "post-10 post-11" "post-12 post-12"; }
  @media (max-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, auto);
      grid-column-gap: 22px;
      grid-row-gap: 55px;
      grid-template-areas: "post-1" "post-2" "post-3" "post-4" "post-5" "post-6" "post-7" "post-8" "post-9" "post-10" "post-11" "post-12"; } }

.grid-item1 {
  grid-area: post-1; }

.grid-item2 {
  grid-area: post-2; }

.grid-item3 {
  grid-area: post-3; }

.grid-item4 {
  grid-area: post-4; }

.grid-item5 {
  grid-area: post-5; }

.grid-item6 {
  grid-area: post-6; }

.grid-item7 {
  grid-area: post-7; }

.grid-item8 {
  grid-area: post-8; }

.grid-item9 {
  grid-area: post-9; }

.grid-item10 {
  grid-area: post-10; }

.grid-item11 {
  grid-area: post-11; }

.grid-item12 {
  grid-area: post-12; }

.grid1 {
  grid-area: post-1; }

.grid2 {
  grid-area: post-2; }

.grid3 {
  grid-area: post-3; }

.grid4 {
  grid-area: post-4; }

.grid5 {
  grid-area: post-5; }

.button_text {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.front-head {
  color: #000;
  font-family: Lato, sans-serif;
  font-size: 29.649px;
  font-style: normal;
  font-weight: 700;
  line-height: 51.392px; }

.button {
  padding: 23px 50px 28px 50px;
  background-color: #0336FF;
  color: #FFF;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px; }
  .button:hover {
    background-color: #0327b6;
    transition: all 0.2s ease-in-out; }
  @media (max-width: 768px) {
    .button {
      padding: 15px 30px; } }

.image-cov {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.shadow {
  box-shadow: 30px 0 30px rgba(0, 0, 0, 0.1), -30px 0 30px rgba(0, 0, 0, 0.1); }

.front-card {
  padding: 20px 40px;
  min-height: 570px; }

.twitter-color {
  background-color: #60B7FE !important; }

.youtube-color {
  background-color: #FE2C3C !important; }

.inst-color {
  background-color: #E14D93 !important; }

.travel-head {
  width: 40% !important;
  background-image: none !important; }
  @media (max-width: 768px) {
    .travel-head {
      width: 100% !important; } }

.travel-to-go {
  align-items: flex-start !important; }

.travel-text {
  width: 55% !important;
  margin-top: 70px; }
  @media (max-width: 768px) {
    .travel-text {
      width: 100% !important; } }

.travel-text span {
  color: #FFA500; }

.form-input {
  outline: none;
  border: none;
  cursor: pointer; }

/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #0327b6;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
  color: white; }

.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0); }

/* header styles
   ========================================================================== */
/* header styles */
header {
  font-size: 14px; }
  header .header_background {
    background: url("../image/main-header-beackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 17px;
    z-index: 1; }
    header .header_background::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: -1; }
  header .destination-header-background {
    background: url("../image/destination-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 17px;
    padding-bottom: 200px;
    z-index: 1; }
    header .destination-header-background::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: -1; }
  header .travel-header-background {
    background: url("../image/travel-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 17px;
    padding-bottom: 200px;
    z-index: 1; }
    header .travel-header-background::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: -1; }

.header_container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1440px;
  margin: 0 auto; }

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header__body .header__logo {
    position: relative;
    z-index: 5; }
    @media (max-width: 979px) {
      .header__body .header__logo {
        width: 14%;
        height: auto; } }
  .header__body .header__menu ul {
    list-style-type: none;
    display: flex; }
    @media (max-width: 900px) {
      .header__body .header__menu ul {
        flex-direction: column;
        align-items: center; } }
    .header__body .header__menu ul li a {
      color: #FFA500;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      padding: 8px 30px; }
      .header__body .header__menu ul li a:hover {
        background-color: #0336FF;
        color: #FFF;
        transition: all 0.2s ease-in-out;
        border-radius: 8px; }

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }
  .header_content h3 {
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
    @media (max-width: 768px) {
      .header_content h3 {
        font-size: 3vw; } }
    .header_content h3 span {
      color: #FFA500; }
  .header_content h1 {
    width: 60%;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 800;
    line-height: 89px; }
    @media (max-width: 768px) {
      .header_content h1 {
        line-height: 40px;
        font-size: 5.5vw; } }
  .header_content .header_content__button {
    margin-top: 40px; }
    .header_content .header_content__button a {
      color: #FFF;
      text-align: center;
      font-family: Lato, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 25px 50px;
      border-radius: 8px;
      background: #0336FF; }
      .header_content .header_content__button a:hover {
        background-color: #0327b6;
        transition: all 0.2s ease-in-out; }
      @media (max-width: 768px) {
        .header_content .header_content__button a {
          padding: 15px 30px; } }

.header_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-bottom: 10px; }
  .header_bottom div {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 47.175px; }

.header__list {
  display: flex;
  position: relative;
  z-index: 2; }

.header__link {
  color: black;
  text-decoration: none; }

.header__burger {
  display: none; }

@media (max-width: 900px) {
  body.lock {
    overflow: hidden; }

  .header__body {
    height: 50px; }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5; }

  .header__burger span {
    content: '';
    background-color: #FFA500;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease-in-out; }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #FFA500;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease-in-out; }

  .header__burger::before {
    top: 0; }

  .header__burger::after {
    bottom: 0; }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px; }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px; }

  .header__burger.active span {
    transform: scale(0); }

  .header__menu {
    width: 100%;
    height: 100%;
    top: -140%;
    left: 0;
    position: fixed;
    background-color: #333333;
    padding-top: 70px;
    overflow: auto; }

  .header__menu.active {
    top: 0;
    transition: all 0.3s ease-in-out; }

  .header__list {
    display: block; }

  .header__list li {
    margin: 0px 0px 20px 0px; } }
/* footer styles
   ========================================================================== */
.footer_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  min-height: 100px;
  border-top: 1px solid #C4C4C4;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px; }
  @media (max-width: 768px) {
    .footer_menu {
      flex-direction: column;
      text-align: center;
      align-items: center; } }
  .footer_menu .footer_menu__nav ul {
    display: flex;
    list-style-type: none; }
    @media (max-width: 768px) {
      .footer_menu .footer_menu__nav ul {
        flex-direction: column;
        text-align: center; } }
    .footer_menu .footer_menu__nav ul li {
      margin-right: 120px; }
      @media (max-width: 768px) {
        .footer_menu .footer_menu__nav ul li {
          margin-bottom: 15px; } }
      .footer_menu .footer_menu__nav ul li a {
        color: #000; }
        .footer_menu .footer_menu__nav ul li a:hover {
          color: #FFA500;
          transition: all 0.2s ease-in-out; }

.footer_background {
  background: rgba(0, 0, 0, 0.68); }

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #EEE;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; }
  @media (max-width: 768px) {
    .footer_content {
      flex-direction: column;
      text-align: center;
      align-items: center; } }
  .footer_content .footer_content_first {
    width: 38%; }
  .footer_content div {
    width: 18%; }
    @media (max-width: 768px) {
      .footer_content div {
        width: 100%; } }

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #EEE;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  min-height: 100px;
  border-top: 1px solid #EEEEEE; }
  @media (max-width: 1170px) {
    .footer_bottom div {
      margin-bottom: 15px; } }
  @media (max-width: 1170px) {
    .footer_bottom {
      flex-direction: column;
      text-align: center; } }

/* front content styles
   ========================================================================== */
.front {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 979px) {
    .front {
      flex-direction: column-reverse; } }
  .front .front_aside {
    width: 32%;
    text-align: center;
    font-family: Lato, sans-serif;
    color: #000; }
    @media (max-width: 979px) {
      .front .front_aside {
        width: 100%; } }
    .front .front_aside .front_aside_about__head {
      text-align: center; }
    .front .front_aside .front_aside_about__text {
      text-align: left;
      font-size: 16.375px;
      font-style: normal;
      font-weight: 500;
      line-height: 20.637px; }
    .front .front_aside .front_aside_about__button {
      margin-top: 45px;
      margin-bottom: 20px; }
    .front .front_aside .front_aside_categories {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px; }
      .front .front_aside .front_aside_categories .front_aside_categories_content {
        margin-top: 68px; }
        .front .front_aside .front_aside_categories .front_aside_categories_content div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px; }
    .front .front_aside .front_aside_posts__heading {
      min-height: 0; }
    .front .front_aside .front_aside_slider .front_aside_slider_block {
      position: relative;
      z-index: 5; }
      .front .front_aside .front_aside_slider .front_aside_slider_block .front_aside_slider_block__date {
        color: #FFF;
        font-size: 1.4vw;
        font-style: normal;
        font-weight: 500;
        line-height: 33.814px;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 7%; }
        @media (max-width: 979px) {
          .front .front_aside .front_aside_slider .front_aside_slider_block .front_aside_slider_block__date {
            font-size: 2.5vw; } }
      .front .front_aside .front_aside_slider .front_aside_slider_block .front_aside_slider_block__name {
        color: #FFFEFE;
        font-size: 1.7vw;
        font-style: normal;
        font-weight: 700;
        line-height: 46.983px;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 30%; }
        @media (max-width: 979px) {
          .front .front_aside .front_aside_slider .front_aside_slider_block .front_aside_slider_block__name {
            font-size: 3vw; } }
    .front .front_aside .front_aside_recent {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: left; }
      .front .front_aside .front_aside_recent img {
        width: 100px;
        height: 80px;
        margin-right: 5px; }
      .front .front_aside .front_aside_recent .front_aside_recent_content .front_aside_recent_content__date {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 33.814px; }
      .front .front_aside .front_aside_recent .front_aside_recent_content .front_aside_recent_content__text {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; }
    .front .front_aside .front_aside_social {
      display: flex;
      justify-content: space-between;
      margin: 0px 25px 25px; }
      @media (max-width: 979px) {
        .front .front_aside .front_aside_social {
          justify-content: space-around; } }
      @media (max-width: 480px) {
        .front .front_aside .front_aside_social {
          flex-direction: column;
          align-items: center; } }
      .front .front_aside .front_aside_social .front_aside_social_link {
        display: flex;
        justify-content: space-around;
        min-width: 130px;
        background-color: #0336FF;
        padding: 15px 20px;
        border-radius: 8px; }
        @media (max-width: 1300px) {
          .front .front_aside .front_aside_social .front_aside_social_link {
            min-width: 90px; } }
        @media (max-width: 979px) {
          .front .front_aside .front_aside_social .front_aside_social_link {
            min-width: 130px; } }
        @media (max-width: 480px) {
          .front .front_aside .front_aside_social .front_aside_social_link {
            margin-bottom: 15px; } }
      .front .front_aside .front_aside_social .front_aside_social_link__text {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; }
  .front .front_content {
    width: 65%;
    color: #000;
    font-family: Lato, sans-serif; }
    @media (max-width: 979px) {
      .front .front_content {
        width: 100%; } }
    .front .front_content .front-card__image-bottom {
      padding: 0px 15px; }
      .front .front_content .front-card__image-bottom .front-card__date {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 33.814px;
        margin-bottom: 20px; }
      .front .front_content .front-card__image-bottom .front-card__head {
        font-size: 31.637px;
        font-style: normal;
        font-weight: 600;
        line-height: 46.983px;
        margin-bottom: 20px; }
      .front .front_content .front-card__image-bottom .front-card__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; }
    .front .front_content .front-card_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: center;
      padding: 0px 15px;
      margin-top: 35px;
      padding-bottom: 15px; }
      .front .front_content .front-card_bottom .front-card_bottom_place {
        display: flex; }
        .front .front_content .front-card_bottom .front-card_bottom_place .front-card_bottom_place__text {
          margin-left: 10px;
          font-size: 18px;
          font-style: normal;
          font-weight: 500; }
    .front .front_content .front_content_banner {
      position: relative; }
      .front .front_content .front_content_banner .front_content_banner__text {
        position: absolute;
        top: 5%;
        left: 2%;
        width: 95%;
        color: #FFF;
        font-size: 2.3vw;
        font-style: normal;
        font-weight: 700;
        line-height: 3vw; }
        .front .front_content .front_content_banner .front_content_banner__text span {
          color: #FFA500;
          text-decoration-line: underline; }
      .front .front_content .front_content_banner .front_content_banner__button {
        position: absolute;
        top: 75%;
        left: 40%; }
        @media (max-width: 600px) {
          .front .front_content .front_content_banner .front_content_banner__button {
            left: 37%; } }
        @media (max-width: 480px) {
          .front .front_content .front_content_banner .front_content_banner__button {
            left: 34%; } }
        @media (max-width: 350px) {
          .front .front_content .front_content_banner .front_content_banner__button {
            left: 30%; } }

.slick-arrow {
  position: absolute;
  top: 70%;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #0327b6;
  font-size: 22px;
  z-index: 2; }

.slick-prev {
  left: 5%;
  padding: 5px 10px; }

.slick-next {
  right: 73%;
  padding: 5px 10px; }

/* instagram styles
   ========================================================================== */
.instagram {
  position: relative;
  margin-top: 130px; }
  .instagram .instagram_slider {
    display: flex;
    overflow: hidden; }
    .instagram .instagram_slider img {
      flex-shrink: 0;
      object-fit: none;
      object-position: center;
      margin: 0; }
  .instagram .instagram__button {
    position: absolute;
    top: 50%;
    left: 40%; }
    @media (max-width: 600px) {
      .instagram .instagram__button {
        left: 35%; } }
    @media (max-width: 480px) {
      .instagram .instagram__button {
        left: 30%; } }
    @media (max-width: 350px) {
      .instagram .instagram__button {
        left: 25%; } }

/* email styles
   ========================================================================== */
.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 130px; }
  @media (max-width: 1170px) {
    .email {
      flex-direction: column;
      text-align: center; } }
  .email .email__head {
    width: 48%;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
    @media (max-width: 768px) {
      .email .email__head {
        width: 100%; } }
    .email .email__head span {
      color: #0327b6; }
  .email .email__form {
    width: 48%; }
    @media (max-width: 1170px) {
      .email .email__form {
        width: 100%;
        margin-top: 30px; } }
    .email .email__form form {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 600px) {
        .email .email__form form {
          flex-direction: column;
          text-align: center; } }
    .email .email__form #email {
      padding: 23px 50px 28px 50px;
      border: 1px solid #C4C4C4;
      background: #FFF;
      color: #C4C4C4;
      text-align: center;
      font-family: Lato, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 8px;
      margin-right: 20px; }
      @media (max-width: 600px) {
        .email .email__form #email {
          margin-bottom: 20px; } }

/* to go section styles
   ========================================================================== */
.to_go {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-family: Lato, sans-serif;
  margin-bottom: 140px; }
  @media (max-width: 768px) {
    .to_go {
      flex-direction: column;
      text-align: center; } }
  .to_go .to_go__head {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 47%;
    padding: 18px 0px;
    background-image: url("../image/Ellipse 18.png");
    background-size: 20px 15px;
    background-repeat: repeat; }
    @media (max-width: 768px) {
      .to_go .to_go__head {
        width: 100%; } }
    @media (max-width: 480px) {
      .to_go .to_go__head {
        font-size: 40px; } }
    .to_go .to_go__head span {
      color: #FFA500;
      text-decoration-line: underline; }
  .to_go .to_go__text {
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.36px;
    width: 37%; }
    @media (max-width: 768px) {
      .to_go .to_go__text {
        width: 100%; } }

.destination_content {
  font-family: Lato, sans-serif; }
  .destination_content .destination_content_head {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
    @media (max-width: 1170px) {
      .destination_content .destination_content_head {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 768px) {
      .destination_content .destination_content_head {
        grid-template-columns: repeat(2, 1fr); } }
    .destination_content .destination_content_head a {
      padding: 15px 5px;
      border: 2px solid #C4C4C4;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #000; }
      .destination_content .destination_content_head a:hover {
        background-color: #0327b6;
        color: #FFF;
        transition: all 0.2s ease-in-out; }
  .destination_content .destination_content_grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .destination_content .destination_content_grid .destination_content_card {
      position: relative;
      width: 32%;
      margin-bottom: 300px; }
      @media (max-width: 1300px) {
        .destination_content .destination_content_grid .destination_content_card {
          margin-bottom: 350px; } }
      @media (max-width: 1170px) {
        .destination_content .destination_content_grid .destination_content_card {
          width: 48%; } }
      @media (max-width: 768px) {
        .destination_content .destination_content_grid .destination_content_card {
          width: 100%;
          margin-bottom: 260px; } }
      @media (max-width: 600px) {
        .destination_content .destination_content_grid .destination_content_card {
          margin-bottom: 280px; } }
      @media (max-width: 480px) {
        .destination_content .destination_content_grid .destination_content_card {
          margin-bottom: 350px; } }
      .destination_content .destination_content_grid .destination_content_card .destination_content_card__image {
        z-index: 3; }
      .destination_content .destination_content_grid .destination_content_card .destination_content_card_info {
        background-color: #FFF;
        padding: 0px 15px;
        min-height: 350px;
        margin-right: 30px;
        position: absolute;
        top: 80%;
        z-index: 1;
        width: 90%;
        box-shadow: 0px 4.10465px 10.26163px 0px rgba(0, 0, 0, 0.25); }
        @media (max-width: 480px) {
          .destination_content .destination_content_grid .destination_content_card .destination_content_card_info {
            width: 80%; } }
        .destination_content .destination_content_grid .destination_content_card .destination_content_card_info .destination_content_card_info__date {
          color: #FFA500;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 80%;
          padding-top: 45px;
          margin-bottom: 10px; }
        .destination_content .destination_content_grid .destination_content_card .destination_content_card_info .destination_content_card_info__name {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 65%;
          height: 100px; }
        .destination_content .destination_content_grid .destination_content_card .destination_content_card_info .destination_content_card_info__line {
          border-bottom: 1px solid #C4C4C4;
          margin-top: 50px; }
        .destination_content .destination_content_grid .destination_content_card .destination_content_card_info .destination_content_card_info_bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-items: center;
          margin-top: 70px;
          padding-bottom: 15px; }
          .destination_content .destination_content_grid .destination_content_card .destination_content_card_info .destination_content_card_info_bottom .destination_content_card_info_bottom_place {
            display: flex; }
          .destination_content .destination_content_grid .destination_content_card .destination_content_card_info .destination_content_card_info_bottom .destination_content_card_info_bottom_place__text {
            margin-left: 10px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500; }

/* travel posts section styles
   ========================================================================== */
.travel_posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Lato sans-serif;
  margin-top: -50px; }
  .travel_posts .travel_posts_card {
    width: 30%;
    margin-bottom: 40px;
    box-shadow: 0px 2.76726px 6.22633px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 14.96273px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 28.17349px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 50.25669px 0px rgba(0, 0, 0, 0.04), 0px 41.77761px 93.99962px 0px rgba(0, 0, 0, 0.05), 0px 100px 225px 0px rgba(0, 0, 0, 0.07);
    border-radius: 30px; }
    @media (max-width: 1170px) {
      .travel_posts .travel_posts_card {
        width: 47%; } }
    @media (max-width: 768px) {
      .travel_posts .travel_posts_card {
        width: 100%; } }
    .travel_posts .travel_posts_card img {
      border-top-right-radius: 30px;
      border-top-left-radius: 30px; }
    .travel_posts .travel_posts_card .travel_posts_card__date {
      color: var(--Grey-4, #6E7191);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.27px;
      margin-top: 15px;
      margin-bottom: 10px;
      padding: 0px 10px; }
    .travel_posts .travel_posts_card .travel_posts_card__title {
      color: #FFF;
      font-size: 32px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      background-color: #0327b6;
      padding-bottom: 40px;
      margin-bottom: 30px;
      min-height: 100px;
      padding-top: 9px;
      padding: 0px 10px; }
    .travel_posts .travel_posts_card .travel_posts_card_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 5px;
      margin-bottom: 10px; }
      .travel_posts .travel_posts_card .travel_posts_card_bottom .travel_posts_card_bottom_block {
        display: flex;
        align-items: center;
        color: var(--Black, #14142B);
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal; }

        

        /* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*# sourceMappingURL=style.css.map */
